<div id="main">
    <h3>Match Criteria</h3>
    <ul>
      <li id="top-info">Language: <input></li>
      <li>Country: <input></li>
      <li>Time Zone: <input></li>
      <li>Topic 1: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="appProc">Application Process</option>
          <option value="preDep">Pre-Departure Support</option>
          <option value="posDep">Post-Departure Support</option>
          <option value="navSer">Navigating Services</option>
          <option value="emSup">Emotional Support</option>
          <option value="croCul">Cross-cultural communication</option>
          <option value="conG">Conflict within your group</option>
          <option value="manExp">Managing Expectations of sponsored refugees and the group</option>
          <option value="transSpon">Transitioning out of sponsorship</option>
          <option value="oth">Other <input></option>
        </select>
      <input></li>
      <li>Topic 2: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="appProc">Application Process</option>
          <option value="preDep">Pre-Departure Support</option>
          <option value="posDep">Post-Departure Support</option>
          <option value="navSer">Navigating Services</option>
          <option value="emSup">Emotional Support</option>
          <option value="croCul">Cross-cultural communication</option>
          <option value="conG">Conflict within your group</option>
          <option value="manExp">Managing Expectations of sponsored refugees and the group</option>
          <option value="transSpon">Transitioning out of sponsorship</option>
          <option value="oth">Other <input></option>
        </select>
      <input></li>
      <li>Topic 3: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="appProc">Application Process</option>
          <option value="preDep">Pre-Departure Support</option>
          <option value="posDep">Post-Departure Support</option>
          <option value="navSer">Navigating Services</option>
          <option value="emSup">Emotional Support</option>
          <option value="croCul">Cross-cultural communication</option>
          <option value="conG">Conflict within your group</option>
          <option value="manExp">Managing Expectations of sponsored refugees and the group</option>
          <option value="transSpon">Transitioning out of sponsorship</option>
          <option value="oth">Other <input></option>
        </select>
      <input></li>

      <!-- <li>Gender: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <input [(ngModel)]="details.gender"></li>
      <li>Title: <input [(ngModel)]="details.title"></li>
      <li>Birthday: <input [(ngModel)]="details.birthday"></li>
      <li>Age: <input [(ngModel)]="details.age"></li>
      <li>Blood Type: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="oPos">O-positive</option>
          <option value="oNeg">O-negative</option>
          <option value="bPos">B-positive</option>
          <option value="bNeg">B-negative</option>
          <option value="aPos">A-positive</option>
          <option value="aNeg">A-negative</option>
          <option value="abPos">AB-positive</option>
          <option value="abNeg">AB-negative</option>
        </select>
        <input [(ngModel)]="details.company"></li>
      <li>Company: <input [(ngModel)]="details.company"></li>
      <li>Company Title: <input [(ngModel)]="details.company_title"></li>
      <li>Emergency Contact: <input [(ngModel)]="details.emergency_contact"></li>
      <li>Emergency Contact Relationship: <input [(ngModel)]="details.emergency_contact_relationship"></li>
      <li id="bottom-info">Emergency Contact Phone: <input [(ngModel)]="details.emergency_contact_phone"></li> -->
    </ul>
    <button class="btn-success saveBtn" (click)="update()">Find</button>
  </div>

