<div id="main">
    <h3>Match Criteria</h3>
    <ul>
      <li id="top-info">Language: <input #language></li>
      <li>Country: <input #country></li>
      <li>Time Zone: <input #time></li>
      <li>Topic 1: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="appProc">Application Process</option>
          <option value="preDep">Pre-Departure Support</option>
          <option value="posDep">Post-Departure Support</option>
          <option value="navSer">Navigating Services</option>
          <option value="emSup">Emotional Support</option>
          <option value="croCul">Cross-cultural communication</option>
          <option value="conG">Conflict within your group</option>
          <option value="manExp">Managing Expectations of sponsored refugees and the group</option>
          <option value="transSpon">Transitioning out of sponsorship</option>
          <option value="oth">Other <input #topic1></option>
        </select>
      <input #other></li>
      <li>Topic 2: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="appProc">Application Process</option>
          <option value="preDep">Pre-Departure Support</option>
          <option value="posDep">Post-Departure Support</option>
          <option value="navSer">Navigating Services</option>
          <option value="emSup">Emotional Support</option>
          <option value="croCul">Cross-cultural communication</option>
          <option value="conG">Conflict within your group</option>
          <option value="manExp">Managing Expectations of sponsored refugees and the group</option>
          <option value="transSpon">Transitioning out of sponsorship</option>
          <option value="oth">Other <input #topic2></option>
        </select>
      <input #other></li>
      <li>Topic 3: <select>
          <option value="notSpecified">Not Specified</option>
          <option value="appProc">Application Process</option>
          <option value="preDep">Pre-Departure Support</option>
          <option value="posDep">Post-Departure Support</option>
          <option value="navSer">Navigating Services</option>
          <option value="emSup">Emotional Support</option>
          <option value="croCul">Cross-cultural communication</option>
          <option value="conG">Conflict within your group</option>
          <option value="manExp">Managing Expectations of sponsored refugees and the group</option>
          <option value="transSpon">Transitioning out of sponsorship</option>
          <option value="oth">Other <input #topic3></option>
        </select>
      <input #other></li>

    
    </ul>
    <button class="btn-success saveBtn" (click)="Show()" (click)="Match(language.value, country.value, time.value, topic1.value, topic2.value, topic3.value)">Find</button>
  </div>

<div id="main" *ngIf="show">
  <h3>List of Matches</h3>
  <ul>
    <li id="top-info">1. Name: Lisa Miller | Sponsor Stage: 3 | Language: English | Time Zone: Eastern | Country: Canada |
    | Experience: Pre-Departure, Conflict within your group, Navigating Services</li>
    <li id="top-info">2. Name: Mathew Jones | Sponsor Stage: 5 | Language: English | Time Zone: Eastern | Country: Canada |
      | Experience: Pre-Departure, Application Process, Transitioning out of sponsorship</li>
  </ul>
</div>