<nav>
  <ul>
      <li class="topnav-left">
      <a routerLink="">
        <i class="material-icons">Home</i>
      </a>
      </li>
      <li class="topnav-right">
        <a routerLink="match">
          <i class="material-icons">Match</i>
        </a>
      </li>
      <li class="topnav-right">
          <a routerLink="general">
            <i class="material-icons">General</i>
          </a>
        </li>
        <li class="topnav-right">
            <a routerLink="mentor">
              <i class="material-icons">Mentor</i>
            </a>
          </li>
  </ul>
</nav>
