<div class = "full-height" id="signup-block">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4" id="userBlock">
        <div class="row">
          <div id="user-signup-column">
            <img class="logo" src="./assets/refugee_hub.jpg" alt="Refugee hub logo">
            <div class="signup-info">
              <h4>Log In</h4>
              
             <div>
                  <input  placeholder="Email" type="email"  required >
                </div>
              <div>
                  <input  type="password" placeholder="password"  required >
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <button type="submit" class="btn btn-default" (click)="goToPage()">Submit</button>
          </div>
        </div>
    </div>
  </div>
</div>
